.git
.github
.idea
.vscode
.claude
.mvn
.settings
.classpath
.project
**/src
**/.settings
**/.classpath
**/.project
README.md
deliverable-a.md
DomainModel.uxf
DomainModelImage.png
budget-management.mv.db
budget-management.trace.db
target
mvnw
mvnw.cmd
